grpc
 port 57400
 no-tls
 address-family dual
 service-layer
 !
!
line console
 exec-timeout 0 0
 width 0
 absolute-timeout 0
 session-timeout 0
!
line default
 exec-timeout 0 0
 absolute-timeout 0
 session-timeout 0
!
interface MgmtEth0/RP0/CPU0/0
 no shutdown
 ipv4 address {{ management_ip }} {{ mask }}
!
router static
 address-family ipv4 unicast
  0.0.0.0/0 {{ gateway }}
 !
!
snmp-server community {{ readonly_com }} RO
snmp-server community {{ readwrite_com }} RW
ssh server rate-limit 600
ssh server session-limit 110
ssh server v2
ssh server vrf default
ssh server netconf vrf default

netconf agent tty
!
netconf-yang agent
 ssh
!